# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
.cache
.pytest_cache

# Python packaging
/dist
/relion_yolo_it.egg-info

# IDE files
/.idea/
/.project/
/.pydevproject/

.DS_Store
*~
*.sw[op]
*.log
.git-notifier*
git-notifier.log
.gitversion
