gemmi==0.5.3
htcondor==10.7.0
matplotlib==3.5.1
mrcfile==1.4
numpy==1.25.0
opencv-python-headless==4.7.0.72
pandas==1.4.2
pillow==9.3.0
plotly==5.7.0
pydantic==1.10.7
starfile==0.4.11
workflows==2.26
zocalo==0.30.0
